extends ../../_layouts/base

include ../../_modules/slider/slider
include ../../_modules/share/share
include ../../_modules/section-title/section-title
include ../../_modules/top-footer/top-footer


block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    main.pavillion
        section.pavillion__hero
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4
                        .pavillion__hero__data
                            +section-title(site.data.vinavik.pavillion.seccion1.titulo, 'h1', 'x')
                            p.pavillion__hero__data__text= site.data.vinavik.pavillion.seccion1.texto
                            +share
                    
        section.pavillion__break
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4
                        +section-title(site.data.vinavik.pavillion.seccion2.titulo, 'h2', 'none')
                        p.pavillion__break__subtitle=site.data.vinavik.pavillion.seccion2.texto 
                        
        .pavillion__video
            a(href="http://www.youtube.com/embed/KaxQm09HiUI?autoplay=1", id="video-pavillion")
                img(src="/images/vina-vik/pavillion1.jpg")
            
        .pavillion__parallax.pavillion__parallax--one
        
        .pavillion__static.pavillion__static--one
            img(src="/images/vina-vik/pavillion3.jpg")

        .pavillion__parallax.pavillion__parallax--two
        
        .pavillion__static.pavillion__static--two
            img(src="/images/vina-vik/pavillion5.jpg")
        
        section.pavillion__break.pavillion__reserva
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4
                        p.pavillion__reserva__subtitle!=site.data.vinavik.pavillion.seccion3.texto 

        +top-footer(['historia', 'vinos'])
        
        
