extends ../../_layouts/base

include ../../_modules/slider/slider
include ../../_modules/share/share
include ../../_modules/section-title/section-title
include ../../_modules/top-footer/top-footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    main.yourbottle
        section.yourbottle__hero
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4
                        .yourbottle__hero__data
                            +section-title(site.data.vinos.yourvikbottle.titulo, 'h1', 'x')
        section.yourbottle__content
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4.col-md-12.col-md-offset-6
                        p.yourbottle__content__text=site.data.vinos.yourvikbottle.texto
                        form.yourbottle__content__form.vikform
                            input.vikform__input(type="text", placeholder="Nº")
                            select.vikform__input.vikform__input--select
                                option 2012
                                option 2013
                                option 2014
                                option 2015
                            button.vikform__submit(type="submit") Buscar
        
        +top-footer(['historia', 'bodega'])
