extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.galeria
        
        section.galeria__hero
            .container
                .col-xs-24.col-sm-16.col-sm-offset-4
                    +section-title('Videos y galería', 'h1', 'none')
        
        section.galeria__videos
            .container
                .col-xs-24.col-sm-16.col-sm-offset-4
                    +section-title('Nuestros videos', 'h2', 'x')
                    +slider('galeria__videos__slider')
                        each item in site.data.galeria.videos
                            .galeria__videos__slide
                                a(href=item.video)
                                    img(src=item.img)
                                    
        section.galeria__images
            .container
                .col-xs-24.col-sm-16.col-sm-offset-4
                    +section-title('Nuestras fotos', 'h2', 'x')
                    +slider('galeria__images__slider')
                        each item in site.data.galeria.images
                            .galeria__images__slide
                                img(src=item.img)
                                
        +top-footer('historia', 'vinos')
                    
        
