extends ../_layouts/base

include ../_modules/slider/slider
include ../_modules/share/share
include ../_modules/section-title/section-title
include ../_modules/top-footer/top-footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.galeria
        
        section.galeria__hero
            .container
                .col-xs-24.col-sm-16.col-sm-offset-4
                    +section-title('Videos y galería', 'h1', 'none')
        
        section.galeria__videos
            .container-fluid
                .row.nopadding
                    .col-xs-24
                        +section-title('Nuestros videos', 'h2', 'x')
                        +slider('galeria__videos__slider')
                            each item in site.data.galeria.videos
                                .galeria__videos__slide
                                    .embed-responsive.embed-responsive-16by9.home__slide__video
                                        iframe.embed-responsive-item(src=item)
                                    
        section.galeria__images
            .container-fluid
                .row.nopadding
                    .col-xs-24
                        +section-title('Nuestras fotos', 'h2', 'x')
                        +slider('galeria__images__slider')
                            each item in site.data.galeria.images
                                .galeria__images__slide
                                    .galeria__images__slide__img
                                        img(src=item)
                                
        +top-footer(['historia', 'vinos'])
                    
        
