.header {

    $h: &;

    @include trans;

    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 60px;
    z-index: 1000;
    text-align: center;
    background: rgba(255,255,255,.3);

    @include mq(md){
        background: transparent;
        height: 120px;
        border-bottom: 1px solid rgba(150,150,150,.3);
    }

    &__hamburguer {
        cursor: pointer;
        width: 25px;
        height: 25px;
        margin: auto;
        position: absolute;
        right: 20px;
        top: 20px;

        span {
            background-color: $mainColor;
            border-radius: 2px;
            content: '';
            display: block;
            width: 100%;
            height: 2px;

            &:nth-child(1) {
                animation:outT 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(2) {
                margin: 7px 0;
                animation:outM 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(3) {
                animation:outBtm 0.6s $easing backwards;
                animation-direction:reverse;
            }
        }

        @include mq(md){
            display: none;
        }
    }

    &__container {
        position: relative;
    }

    &__logo {
        position: absolute;
        left:10px;
        top: 10px;

        @include mq(md){
            top: 20px;
            left:0;
        }

        img {
            width:40px;

            @include mq(md){
                width:70px;
            }
        }
    }

    &__nav {
        @include trans;
        display: flex;
        justify-content: center;
        top: 60px;
        left: 0;
        transform: translateX(-110%);
        background: transparentize($mainColor - #444, .3);
        position: fixed;
        width: 100%;

        @include mq(md){
            position: relative;
            transform: translateX(0);
            background: transparent;
            top: 40px;
        }
    }

    &__menu {
        width: 100%;

        @include mq(md){
            display: flex;
            justify-content: center;
        }

        li {
            position: relative;
            border-bottom: 1px solid $white;

            @include mq(md){
                border-bottom: none;
            }

            &:hover {
                & > a + #{$h}__submenu {

                    max-height: 50vh;

                    @include mq(md){
                        opacity: 1;
                        transform: translateY(20px) translateX(-50%);
                        pointer-events: all;

                    }
                }
            }

            &.-active {
                & > a{
                    color: $mainColor;
                }
            }
        }

        a {
            color:$darkestGray;
            display: block;
            padding: 0 10px;
            height: 40px;
            line-height: 40px;
            font-size:18px;
            text-decoration: none;
            font-family: $altFont;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;

            @include mq(md){
                font-size:14px;
                height: auto;
                line-height: 1;
            }

            &:hover {
                color: $mainColor;
            }
        }
    }

    &__submenu {
        @include trans;

        border-top: 1px solid $white;
        max-height: 0;
        overflow: hidden;
        position: relative;

        @include mq(md){
            border-top: none;
            position: absolute;
            top: 0;
            width: 250px;
            opacity: 0;
            pointer-events: none;
            transform: translateY(20px) translateX(-50%);
            left: 50%;
        }

        a {
            @include mq(md){
                margin-bottom: 10px;
            }
        }
    }

    &__tienda {
        display: flex;
        position: absolute;
        top: 45px;
        right:0;
        font-size: 14px;

        @include mq(md){
            top: 36px;
        }

        a {
            color: $darkestGray;
            font-family: $altFont;
            font-weight: bold;
            text-transform: uppercase;
        }

        &__cart {
            padding-left: 15px;
            span {
                color: $white;
                font-family: $altFont;
                font-weight: bold;
                text-transform: uppercase;
            }
            img {
                margin-left: 10px;
            }
        }
    }

    &.-open {
        #{$h}__hamburguer {
            span:nth-child(1) {
                animation:inT 0.6s $easing forwards;
            }
            span:nth-child(2) {
                animation:inM 0.6s $easing forwards;
            }
            span:nth-child(3) {
                animation:inBtm 0.6s $easing forwards;
            }
        }

        #{$h}__nav {
            transform: translateX(0);
        }
    }
}

.-home {
    .header {
        a {
            color: $white;
        }

        @include mq(md){
            border-bottom: none;
        }
    }
}

//hamburguer animations
@keyframes inM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes outM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes inT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes outT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes inBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
@keyframes outBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
