extends ../../_layouts/base

include ../../_modules/slider/slider
include ../../_modules/share/share
include ../../_modules/section-title/section-title
include ../../_modules/top-footer/top-footer
include ../../_modules/press-article/press-article

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    main.news.news--connect
        section.news__hero
            .container
                .row
                    .col-xs-24
                        +section-title('Connect', 'h1', 'none')
                        a._button.-ghost(href="#") Registrarme
            
        section.news__pages
            .container
                .row
                    .col-xs-24
                        .news__page__articles
                            - for (var i = 0; i < 3; ++i) {
                                each article in site.data.prensa.connect
                                    +press-article('connect', article)
                            - }
                
        section.news__contact
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4
                        +section-title('Connect para recibir información de VIK invitaciones a eventos y otros especiales', 'h2', 'none')
                        a._button(href="#") Connect
                                    
        +top-footer(['Historia', 'Vinos'])
